/*Global links*/
a {
  text-decoration: none;
  color: grey;
  font-family: var(--text-pharagraph-and-buttons), Verdana, Geneva, Tahoma,
    sans-serif;
  text-transform: capitalize;
}

/*Navigation Links*/
li a {
  font-family: var(--text-logo-nav), Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 20px;
  padding: 30px 10px;
  display: block;
  font-size: larger;
}

nav li:hover {
  transition: 0.3s;
  background-color: var(--dark-orange);
}

nav li a:hover,
nav li:hover,
nav li:hover a {
  transition: 0.3s;
  color: white;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

.pharagraph-link {
  font-style: italic;
  color: var(--dark-orange);
}

.pharagraph-link:hover {
  text-decoration: underline;
}

/*Buttons*/

.cta {
  font-family: var(--text-pharagraph-and-buttons);
  color: var(--dark-orange);
  font-weight: bold;
  background: transparent;
  border: 3px solid var(--dark-orange);
  border-radius: 6px;
  padding: 1em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.cta-white {
  color: white;
  border-color: white;
}

.cta-footer {
  background: white;
  border: white;
  color: var(--grey);
  width: 100%;
  padding: 20px;
  font-size: 17px;
  opacity: .4;
}

.cta-contact {
  padding: 1em 3em;
  margin-top: 20px;
  max-width: fit-content;
  opacity: .4;
}

.cta:hover {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
  color: white;
  transition: 0.4s;
}

/*Footer*/

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: white;
  font-size: 1.1em;
  line-height: 2.5;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
  color: var(--dark-orange);
}
